<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.connect.reservation.dao.detail.ProductImageDao"> 
    <select id="selectAllProductImages" resultType="ProductImage">
        SELECT 
	        content_type AS contentType, 
	        create_date AS createDate, 
	        delete_flag AS deleteFlag, 
	        file_info.id AS fileInfoId, 
	        file_name AS fileName, 
	        modify_date AS modifyDate, 
	        product_id AS productId, 
	        product_image.id AS productImageId, 
	        save_file_name AS saveFileName, 
	        type 
        FROM product_image INNER JOIN file_info 
        ON product_image.file_id = file_info.id 
        WHERE type in ('ma', 'et') AND product_image.product_id = #{productId}
    </select>
</mapper>