h5 {
	margin: 0px;
}

.contents{
	background-color: white;
	margin-bottom: 10px;
	padding-top: 20px;
	text-align: center;
}

.simple_introduce_area{
	padding: 10px 0px;
}

.page_link_area{
	padding: 20px 0px;
}

.page_link_area > a {
	margin: 0 0 0 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #20B2AA;
	color: white;
	box-shadow: 3px 3px gray;
	cursor: pointer;
}

.map_area {
	padding-top: 10px;
	padding-bottom: 30px;
}